* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
   
  body {
    background: #f2f2f2;
    overflow: auto;
  }
   
  h1{
     text-align: center;
     margin: 5%;
     font-size: 3rem;
     text-decoration: underline;
  }
   
  
  .container{
    background-color:rgb(220, 195, 199)
    ;
  }
  .label{
    margin-right: 500px;
  }
  .row{
    margin-top:90px;
    margin-right:20px;
  }
  .radio{
    width: 100%;
  }
  .submit{
    margin-left:550px;
    margin-top:20px
  }